<script setup>
import { ref, reactive } from 'vue'

// Counter
const refCounter = ref({ counter: 0 })
const reactiveCounter = reactive({ counter: 0 })

// Execution time
const refTime = ref({ time: 0 })
let reactiveTime = reactive({ time: 0 })

// 10 Million loops
const loops = ref(1e7)

// results
const refResult = ref({ res: '' })
const reactiveResult = reactive({ res: '' })

// Time difference
const difference = ref(0)

const updateRef = () => {
  for (let count = 0; count < loops.value; count++) {
    refCounter.value.counter += 1
  }
}

const updateReactive = () => {
  for (let count = 0; count < loops.value; count++) {
    reactiveCounter.counter += 1
  }
}

const measureExecutionTime = (cb, title) => {
  const start = performance.now()
  cb()
  const end = performance.now()
  const time = end - start
  return time
}

const updateAll = () => {
  reactiveTime.time = measureExecutionTime(updateReactive, 'Reactive')
  refTime.value.time = measureExecutionTime(updateRef, 'Ref')

  if (refTime.value.time > reactiveTime.time) {
    difference.value = refTime.value.time - reactiveTime.time
    refResult.value.res = `Slower`
    reactiveResult.res = `Faster`
  } else {
    difference.value = reactiveTime.time  - refTime.value.time
    reactiveResult.res = `Slower`
    refResult.value.res = `Faster`
  }
}
</script>

<template>
  <div>
    <div style="margin-bottom: 16px;">
      <button @click="loops /= 10" :disabled="loops < 100">-</button>
      <span style="margin: 0 16px">{{ loops }}</span>
      <button @click="loops *= 10" :disabled="loops > 1e6">+</button>
    </div>
    <div style="margin-bottom: 16px;">
      {{ `Difference is ${difference.toFixed(2)}ms` }}
    </div>
    <table>
      <tr>
        <th>Method</th>
        <th>Loops</th>
        <th>Execution Time</th>
        <th>Result</th>
      </tr>
      <tr>
        <td>Ref</td>
        <td>{{ loops }}</td>
        <td>{{ refTime.time.toFixed(2) }}ms</td>
        <td>{{ refResult.res }}</td>
      </tr>
      <tr>
        <td>Reactive</td>
        <td>{{ loops }}</td>
        <td>{{ reactiveTime.time.toFixed(2) }}ms</td>
        <td>{{ reactiveResult.res }}</td>
      </tr>
    </table>
    <div style="margin-top: 18px">
      <button @click="updateAll">start</button>
    </div>
  </div>
</template>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
